/WORKSPACE/
/venv/
/docs/
**/*.log
__pycache__/
.idea/
*.pyc
/.mypy_cache/
/app/src/.pytest_cache/
*.env
/.env.dev
**/poetry.lock
/.pytest_cache/
/charts/templates/_helpers.tpl
/charts/templates/NOTES.txt
/charts/templates/
**/*.tgz
/charts/Chart.yaml
